xml/dtd_xsl/menue.dtd

<!ENTITY % TEXTFORMATIERUNGEN "FETT | ZEILENUMBRUCH | ZENTRIERT">
<!ELEMENT MENUE (MENUENAME, LINK+)>
<!ELEMENT LINK ( LINKNAME, LINKADRESSE, LINKAUSGABE)>
<!ELEMENT MENUENAME (#PCDATA )>
<!ELEMENT LINKNAME (#PCDATA | %TEXTFORMATIERUNGEN;)*>
<!ELEMENT LINKADRESSE (#PCDATA)>
<!ELEMENT LINKAUSGABE (#PCDATA)>
<!ELEMENT FETT (#PCDATA | %TEXTFORMATIERUNGEN;)*>
<!ELEMENT ZEILENUMBRUCH EMPTY>
<!ELEMENT ZENTRIERT (#PCDATA | %TEXTFORMATIERUNGEN;)*>